@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

:root{
    --body-font: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}
